	<div class="author">
		<img src="/images/Owl.png" alt="Josep Romero" >
		<p>Josep Romero (Barcelona, España)</p>
	</div>
	<div class="about">
		<p>Pruebe sus conocimientos contestando a las preguntas que se le planteen, o añada sus propias preguntas para aumentar el potencial del quiz</p>
	</div>
