<h2>Login</h2>

<form method='POST' action='/login'>
	<div class="field">
		<label for="login">Usuario:</label><br/>
		<input autofocus required type="text" id="login" name="login" size="30" placeholder="Introduzca el usuario"/>
	</div>
	<div class="field">
		<label for="password">Password:</label><br/>
		<input required type="text" id="password" name="password" size="30" placeholder="Introduzca la contraseña" />
	</div>
	<div class="actions">
		<input type="submit" id="commit" name="commit" value="Entrar" />
	</div>
</form>